ion-thumbnail {
    --size: 60px;
    // margin-right: 14px;
    // margin-top: 14px;
    margin: 14px 14px 14px 0px;
}

.loaded-type {
    margin-top: 14px;
    margin-left: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.load-title {
    margin-left: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}
