<ion-header>
    <ion-toolbar color="dark">
        <ion-title style="padding: 0%;">QandA</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/news/tabs/newslist"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h4 style="font: bold;">What is Mic?</h4>
                <p>Mic are Metal Intellgence center is a hub for market intelligence,analysis opinion and data relating to base metal viz copper, Aluminum,Zinc,lead, Nickel and Tin .Mic purpose is to keep you update with the development in the Industry that
                    affet your bussiness and metal prices.</p>
                <h4>Does Mic Provide live Prices?</h4>
                <p>No</p>
                <h4>Who own Mic?</h4>
                <p>Mic is a product of Regsus Counsulting Privet Limited.The Company is engaged in risk managment advisory for commodites Regsus was founded in 2009 by sandeep Daga who has more than two decades of exprienses in commodites trading and risk
                    Management.
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
